.field {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 60px;
  margin-bottom: 20px;

  & > label {
    color: #000;
    margin-bottom: 5px;
  }

  & > input {
    font-size: 16px;
    height: 20px;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
  }
}

.error {
  font-size: 14px;
  padding: 5px 0;
  color: rgba(255, 0, 0, .9);
}
